[init]
	defaultBranch = main
[user]
	email = arisuchr@riseup.net
	name = Arisu Wonderland
	signingkey = 1B68A6A1D6672D74
[commit]
	gpgsign = true
[url "https://"]
	insteadOf = http://
[url "sftp://"]
	insteadOf = ftp://
[http]
	proxy = socks5://127.0.0.1:9050
[http "https://github.com"]
	proxy = socks5://127.0.0.1:9050
[http "https://codeberg.org"]
	proxy = socks5://127.0.0.1:9050
